
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<h2>Welcome to the homepage!</h2>

@* session açıldığında bir session id oluşur. farklı tarayıcılarda iki session açmasını istemiyosan db'de sessionID tutulur ve ikinci tarayıcıdan girme girişiminde kontrol edilerek ikinci giriş reddedilir. *@